.projects {
  @include flex($dir: column);
  gap: 24px;
  margin: 0 $horizontalPadding $bottomSectionSpace;

  & &__project {
    position: relative;
    @include flex($dir: column);
    width: 100%;
    padding: 90px 10px;
    z-index: 2;
    color: $white;
    border-radius: 16px;
    overflow: hidden;
    h2 {
      margin-bottom: 12px;
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 1.399999976158142px;
      text-align: center;
      text-transform: uppercase;
      z-index: inherit;
    }
  }

  & &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    // border-radius: 16px;
  }

  & &__more {
    @include flex();
    gap: 16px;
    background: none;
    border: none;
    color: $white;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 5px;
    z-index: inherit;
  }
}
