* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jost';
}

a {
  color: unset;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul{
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 8px;
  text-transform: uppercase;

  &--white{
    color: $white;
  }

  &--center{
    justify-content: center;
  }
}

.btn {
  background: $white;
  color: $black;
  padding: 18px 24px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}

.underline{
  padding-bottom: 32px;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.1);
  width: 100%;
}
