* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost";
}

.overflow-mobile-hidden {
  @include flex($dir: column, $jc: unset, $ai: center);
  overflow: hidden;
}

.container {
  @include flex($dir: column, $jc: unset, $ai: unset);
  @include desktop {
    padding: 0 var(--horizontalPadding);
    box-sizing: unset;
  }
}

a {
  color: unset;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 8px;
  text-transform: uppercase;

  &--white {
    color: $white;
  }

  &--center {
    justify-content: center;
  }
}

.btn {
  background: $white;
  color: $black;
  padding: 18px 24px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  transition: 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
    color: white;
  }
}

.underline {
  $border: 1px solid
    rgba(
      $color: $white,
      $alpha: 0.1,
    );
  padding-bottom: 32px;
  border-bottom: $border;
  width: 100%;

  &--mobile {
    @include tablet {
      border-bottom: unset;
      padding-bottom: 0;
    }
  }

  &--tablet {
    border-bottom: 0px;
    padding-bottom: 0px;
    @include tablet {
      border-bottom: $border;
      padding-bottom: 32px;
    }
  }
}
