$black: #000;
$smooth-black: #1d1c1e;
$white: #fff;
$terracotta: #e7816b;

$horizontalPadding: 24px;
$bottomSectionSpace: 120px;

:root{
  --horizontalPadding: 24px;

  @include desktop{
    --horizontalPadding: 11.5%;
  }
}


%burgerPseudoElem {
  position: absolute;
  content: "";
  height: inherit;
  width: inherit;
  background: inherit;
  transition: inherit;
}